ul(class='header__navigation')
  li(class='header__navigation_li') О нас
  li(class='header__navigation_li') Услуги (^)
  li(class='header__navigation_li') Вакансии
  li(class='header__navigation_li') Новости
  li(class='header__navigation_li') Соглашения (^)
