div(class='')
  div(class="button button_header-mini")
    button(class="button__background button__background_white ")
      i(class="button__text") войти
      //- i(class="button__arrow ") arrow_forward
<br>
  div(class="button button_header-maxi")
    button(class="button__background ")
      i(class="button__text") зарегистрироваться
      //- i(class="button__arrow ") arrow_forward
