div(class="header_navig-and-signin")
  ul(class='header__navigation')
    li(class='header__li') О нас
    li(class='header__li') Услуги 
      i(class='header__dropdown-arrow') expand_more
    li(class='header__li') Вакансии
    li(class='header__li') Новости
    li(class='header__li') Соглашения
      i(class='header__dropdown-arrow') expand_more
  div(class='header__sign-in-block')
    div(class="button button_header-mini")
      button(class="button__background button__background_white ")
        i(class="button__text") войти
    div(class="button button_header-maxi")
      button(class="button__background ")
        i(class="button__text") зарегистрироваться
