.header_navig-and-signin {
  display: flex;
  justify-content: space-between;
  width: 770px;
  height: 34px;
  // и рассчитать длину блоков так чтобы при длине header width: 1440px; интервалы между элементами были 20px. 
  // Это заставит интервалы изменяться при изменении ширины окна (точнее header).
  margin-left: auto; // Я не знаю как, но эти две строчки  
  margin-right: 0px; // выравнивают по правому краю блок div
  align-items: center;
  vertical-align: center;

} 