button(class="socials__button") 
  i(class="fab fa-twitter socials__icon")
button(class="socials__button")
  i(class="fab fa-facebook-square socials__icon")
button(class="socials__button")
  i(class="fab fa-instagram socials__icon")