div(class="footer")
  div(class="footer__group footer__group_big")
    include ../label/label.pug
    p(class="footer__text footer__text_below") Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
  div(class="footer__group")
    ul(class="footer__list")
      li(class="footer__title") Навигация
      li(class="footer__item") О нас
      li(class="footer__item") Новости
      li(class="footer__item") Служба поддержки
      li(class="footer__item") Услуги
  div(class="footer__group")
    ul(class="footer__list")
      li(class="footer__title") О нас
      li(class="footer__item") О сервисе
      li(class="footer__item") Наша команда
      li(class="footer__item") Вакансии
      li(class="footer__item") Инвесторы
  div(class="footer__group")
    ul(class="footer__list")
      li(class="footer__title") Служба поддержки
      li(class="footer__item") Соглашения
      li(class="footer__item") Сообщества
      li(class="footer__item") Связь с нами
  div(class="footer__group footer__group_big")
    p(class="footer__title") подписка
    p(class="footer__text") Получайте специальные предложения и новости сервиса
    include ../subscribe/subscribe.pug
    