div(class="copyright-bar")
  pre(class="copyright-bar__text") Copyright © 2018 Toxin отель. Все права зачищены.
  div(class="copyright-bar__socials")
    button(class="copyright-bar__button") 
      <i class="fab fa-twitter"></i>
    button(class="copyright-bar__button")
      <i class="fab fa-facebook-square"></i>
    button(class="copyright-bar__button")
      <i class="fab fa-instagram copyright-bar__icon-gradient"></i>