doctype html
html(lang='en')
  head
    title VlaSapRos
    link(rel="shortcut icon" href="./favicon.ico" type="image/x-icon")
  body
    include ../blocks/header/header.pug
    h1 Dogs only .
    img(src="/assets/img/happyKorgy.jpg")
    p pam param
    //- ссылка для Dev
    a(href="./index.html") обратно
    include ../blocks/footer/footer.pug
