doctype html
html(lang='en')
  head
    title VlaSapRos
    link(rel="shortcut icon" href="./favicon.ico" type="image/x-icon")
  body
    include ../blocks/header/header.pug
    include ../blocks/button/button.pug
    //- ссылка для Dev
    a(href="./about.html") туда 
    include ../blocks/footer/footer.pug
