doctype html
html(lang='en')
  head
    title VlaSapRos
    link(rel="shortcut icon" href="./favicon.ico" type="image/x-icon")
  body
    include ../blocks/header/header.pug
    a(href="./about.html") туда