doctype html
html(lang='en')
  head
    script(src="https://kit.fontawesome.com/dab466896d.js" crossorigin="anonymous")
    title VlaSapRos
    link(rel="shortcut icon" href="./favicon.ico" type="image/x-icon")
  body
    include ../blocks/header/header.pug
    include ../blocks/button/button.pug
    //- ссылка для Dev
    a(href="./about.html") туда 
    include ../blocks/footer/footer.pug
    include ../blocks/copyright-bar/copyright-bar.pug
    include ../blocks/footer-creative/footer-creative.pug
