div(class='footer-creative')
  div(class='footer-creative__group')  
    include ../label/label.pug
    include ../copyright-text/copyright-text.pug
  div(class='socials')
    include ../socials/socials.pug