div(class='label')
  div(class='label__logo-color')
    img(src='/assets/img/logo-color.svg' class='logo-color.svg')
  div(class='label__logo-text')
    img(src='/assets/img/logo-text.svg' class='label__logo-text')
  