@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-family: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
	text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

.fontsList{
  font-size: 16px;
  padding: 1;
  margin-left: 2em;
  list-style-type: square;
}

.fontsList_first {
  font-family: "PressStart2P";
}

.fontsList_second  {
  font-family: "Aktau";
}

.fontsList_third  {
  font-family: "Elzevir";
}

.fontsList_fourth  {
  font-family: "Ograda Normal";
}

.fontsList_fifth  {
  font-family: "VLADOVSKIY";
}

//header
@import "../blocks//header/header.scss";
@import "../blocks//header/header_navig-and-signin/header__navigation/header__navigation.scss";
@import "../blocks//header/header_navig-and-signin/header__navigation/header__li/header__li.scss";
@import "../blocks//header/header_navig-and-signin/header__sign-in-block/header__sign-in-block.scss";
@import "../blocks//header/header_navig-and-signin/header_navig-and-signin.scss";

//label
@import "../blocks/label/label.scss";
@import "../blocks/label/label__logo-text/label__logo-text.scss";
@import "../blocks/label/label__logo-color/label__logo-color.scss";

//button
@import "../blocks/button/button.scss";

//footer
@import "../blocks/footer/footer.scss";
@import "../blocks/footer/footer__group/footer__group.scss";
@import "../blocks/footer/footer__group/footer__text/footer__text.scss";
@import "../blocks/footer/footer__group/footer__text/footer__text_below.scss";
@import "../blocks/footer/footer__group/footer__list/footer__list.scss";
@import "../blocks/footer/footer__group/footer__list/footer__item/footer__item.scss";
@import "../blocks/footer/footer__group/footer__list/footer__title/footer__title.scss";

//subscribe
@import "../blocks/subscribe/subscribe.scss";
@import "../blocks/subscribe/subscribe__input/subscribe__input.scss";
@import "../blocks/subscribe/subscribe__button/subscribe__button.scss";
@import "../blocks/subscribe/subscribe__button/subscribe__gradient-arrow/subscribe__gradient-arrow.scss";